<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add customer to the database</h1>

<form action="#" th:action="@{/add-customers}" th:object="${customer}" method="post">
    <input type="text" class="form-control" placeholder="customer id" th:field="*{CustomerId}" required />
    <input type="text" class="form-control" placeholder="First name" th:field="*{FirstName}" required />
    <input type="text" class="form-control"  placeholder="Last name" th:field="*{LastName}"  />
    <input type="text" class="form-control" placeholder="Country" th:field="*{Country}" required />
    <input type="text" class="form-control" placeholder="Postal Code" th:field="*{PostalCode}" required />
    <input type="text" class="form-control" placeholder="Phone" th:field="*{Phone}" required />
    <input type="text" class="form-control" placeholder="Email" th:field="*{Email}" required />
    <button type="submit" >Add</button>
</form>
</body>
</html>