<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">

    <title>Home Page</title>

</head>
<body>

<div class="container">

    <header>
        <nav class="nav">
            <ul class="ul">
                <div>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </div>

                <li>
                    <a href="/api/customers">View All customers</a>
                </li>
                <li>
                    <a href="/track/search">Search Track</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <article class="info-section">
            <h1>JDBC & Spring Boot</h1>
            <p>This is a basic example of using Thymeleaf to create a monolithic application with Java.
                We are using the Northwind SQLite database as a data source and only querying out a portion
                of the customer table. The functionality of the site is
                fairly straight forward, we can view existing customers, and we can add new ones.</p>
        </article>

        <section class="article-sections">

            <article class="genres">
                <h3>Genres 🎸</h3>
                <ul th:each="genres: ${genres}">
                    <li th:text="${genres.getName()}"></li>
                </ul>
            </article>

            <article class="tracks">
                <h3>Tracks 🎵</h3>
                <ul th:each="tracks: ${tracks}">
                    <li th:text="${tracks.getName()}"></li>
                </ul>


            </article>

            <article class="artists">
                <h3>Artists 🧑‍</h3>
                <ul th:each="artists: ${artists}">
                    <li th:text="${artists.getName()}"></li>
                </ul>
            </article>
        </section>


        <!--   <section class="all-customers">
               <table>
                   <tbody>
                   <tr th:each="customers: ${customers}">
                       <td th:text="${customers.getCustomerId()}"></td>
                       <td th:text="${customers.getFirstName()}"></td>
                       <td th:text="${customers.getLastName()}"></td>
                       <td th:text="${customers.getCountry()}"></td>
                       <td th:text="${customers.getPostalCode()}"></td>
                       <td th:text="${customers.getPhone()}"></td>
                       <td th:text="${customers.getEmail()}"></td>
                   </tr>
                   </tbody>
               </table>
           </section>-->
    </main>
</div>

</body>
</html>
