<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search Track</title>
</head>
<body>
<h1>Hi, Coming from the search view</h1>


<section class="search-track">

    <form action="#"  th:action="@{/track/search}" method="post">
        <input name="searchTerm" type="text" th:value="${searchTerm}">
        <button type="submit">Search</button>
    </form>

    <article class="display-search-result">
        <h2 th:if="${success}" th:text="'You searched for: ' + ${searchTerm} "></h2>
        <table>
            <thead>
            <tr>
                <!--  <th>#</th>-->
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Genre</th>
          </tr>

          </thead>
          <tbody>
          <tr th:each="trackInfo: ${trackInfo}">
              <!--<td th:text="${trackInfo.getTrackId()}"></td> !-->
                <td th:text="${trackInfo.getTrackName()}"></td>
                <td th:text="${trackInfo.getArtistName()}"></td>
                <td th:text="${trackInfo.getAlbumTitle()}"></td>
                <td th:text="${trackInfo.getGenre()}"></td>
            </tr>

            </tbody>
        </table>
    </article>

</section>

</body>
</html>