<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi, Coming from the search view</h1>


<table>
    <td th:text="${customer.getCustomerId()}"/>
    <td th:text="${customer.getFirstName()}"/>
    <td th:text="${customer.getLastName()}"/>
    <td th:text="${customer.getCountry()}"/>
    <td th:text="${customer.getPostalCode()}"/>
    <td th:text="${customer.getPhone()}"/>
    <td th:text="${customer.getEmail()}"/>
</table>


</body>
</html>