<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Customers</title>
</head>
<body>
<h1>Hello Thymeleaf</h1>
<table>

    <tbody>
    <tr th:each="customers: ${customers}">
        <td th:text="${customers.getCustomerId()}"/>
        <td th:text="${customers.getFirstName()}"/>
        <td th:text="${customers.getLastName()}"/>
        <td th:text="${customers.getCountry()}"/>
        <td th:text="${customers.getPostalCode()}"/>
        <td th:text="${customers.getPhone()}"/>
        <td th:text="${customers.getEmail()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>
